.logoWrapper {
    box-sizing: border-box;
    height: auto; /* 386px */
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 97px 0px 97px 0px;
    overflow: visible;
    .logoStyle {
        width: 192px;
        height: 192px;
        object-fit: contain;
    }
}

.descWrapper {
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px 108px 0px;

    .descStyling {
        text-align: center;
        font-weight: 400;
        font-style: normal;
        font-family: "Poppins-Thin", serif;
        color: #ffffff;
        font-size: 1.25em;
        letter-spacing: 0px;
    }
}

.col {
    box-sizing: border-box;
    flex: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 70px;
    overflow: visible;
    .phoneImage {
        flex-shrink: 0;
        width: 512px;
        height: 642px;
        overflow: visible;
    }
}
.cardWrapper {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: visible;
}
.statWrapper {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 90px;
}
@media only screen and (max-width: 900px) { //1024px
    .navigation {
        display: none;
    }
    .statWrapper,
    .cardWrapper {
        flex-direction: column;
    }
    .col {
        background: bisque;
        padding: 0px 0px;
        .phoneImage {
            width: 323px;
            height: 405px;
        }
    }
}
// @media only screen and (max-width: 541px) {
//     .navigation {
//         display: none;
//     }
//     .cardWrapper {
//         flex-direction: column;
//     }
//     .statWrapper,
//     .cardWrapper {
//         flex-direction: column;
//     }
//     .col {
//         padding: 0px 0px;
//         background: red;
//         .phoneImage {
//             width: 323px;
//             height: 405px;
//         }
//     }
// }

// @media only screen and (max-width: 400px) {
//     .logoWrapper,
//     .descWrapper {
//         padding: 20px;
//     }
//     .navigation {
//         display: none;
//     }
//     .col {
//         background: blue;
//         padding: 0px 0px;
//         .phoneImage {
//             width: 323px;
//             height: 405px;
//         }
//     }
//     .statWrapper,
//     .cardWrapper {
//         flex-direction: column;
//     }
// }
