.layout {
    box-sizing: border-box;
    width: 100%; /* 1920px */
    height: auto; /* 4269px */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 100px 0px 100px;
    overflow: visible;
    background-color: black;
  }