.main {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .wrapper {
        box-sizing: border-box;
        width: 100%;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 50px 50px 50px;
        overflow: visible;
        .col {
            box-sizing: border-box;
            flex: 1;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 50px;
            overflow: visible;
            .titleWrapper {
                box-sizing: border-box;
                width: auto; /* 104px */
                height: auto; /* 73px */
                flex-shrink: 0;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding: 0px 0px 20px 0px;
                overflow: visible;
                .titleStyle {
                    width: auto; /* 104px */
                    height: auto; /* 53px */
                    flex-shrink: 0;
                    white-space: pre;
                    overflow: visible;
                    font-weight: 300;
                    font-style: normal;
                    font-family: "Poppins-Bold", serif;
                    color: #ffffff;
                    font-size: 1.5em;
                    letter-spacing: 0px;
                    line-height: 1.9;
                    margin: 0;
                }
            }
            .descriptionStyle {
                width: 100%;
                flex-shrink: 0;
                white-space: pre-wrap;
                word-wrap: break-word;
                word-break: break-word;
                overflow: hidden;
                font-weight: 300;
                font-style: normal;
                font-family: "Poppins-Light", serif;
                color: #ffffff;
                font-size: 18px;
                letter-spacing: 0px;
                line-height: 1.9;
            }
            .contactWrapper {
                width: 100%;
                flex-shrink: 0;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                overflow: visible;
                .contactLabel {
                    box-sizing: border-box;
                    flex: 1;
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 20px 20px 20px 0px;
                    overflow: visible;
                    .contactLabelStyle {
                        width: auto; /* 77px */
                        height: auto; /* 34px */
                        flex-shrink: 0;
                        white-space: pre;
                        overflow: visible;
                        font-weight: 700;
                        font-style: normal;
                        font-family: "Poppins", serif;
                        color: #ffffff;
                        font-size: 18px;
                        letter-spacing: 0px;
                        line-height: 1.9;
                    }
                }
                .contactValue {
                    box-sizing: border-box;
                    flex: 6;
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 20px 20px 20px 0px;
                    overflow: visible;
                    .contactValueStyle {
                        flex: 1;
                        flex-shrink: 0;
                        white-space: pre-wrap;
                        word-wrap: break-word;
                        word-break: break-word;
                        overflow: hidden;
                        font-weight: 300;
                        font-style: normal;
                        font-family: "Poppins", serif;
                        color: #ffffff;
                        font-size: 18px;
                        letter-spacing: 0px;
                        line-height: 1.9;
                    }
                }
            }
        }
    }
    .copyright {
        width: auto; /* 128px */
        height: auto; /* 34px */
        flex-shrink: 0;
        white-space: pre;
        overflow: visible;
        font-weight: 300;
        font-style: normal;
        font-family: "Poppins", serif;
        color: #ffffff;
        font-size: 18px;
        letter-spacing: 0px;
        line-height: 1.9;
    }
}
@media only screen and (max-width: 400px) {
    .main {
        .wrapper {
            padding: 20px;
            flex-direction: column;
            .col {
                padding: 0px;
            }
        }
    }
}
@media only screen and (max-width: 541px) {
    .main {
        .wrapper {
            padding: 20px;
            flex-direction: column;
            .col {
                padding: 0px;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .main {
        .wrapper {
            padding: 20px;
            flex-direction: column;
            .col {
                padding: 0px;
            }
        }
    }
}
