.borderBG {
    padding: 1px;
    background: rgb(83, 78, 78);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 20%,
        rgba(62, 255, 103, 1) 40%,
        rgba(60, 221, 255, 1) 45%,
        rgba(255, 75, 75, 1) 50%,
        rgba(255, 244, 71, 1) 55%,
        rgba(0, 0, 0, 0) 80%
    );
    border-radius: 8px;
    margin: 10px;
    width: 500px;
}
.main {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #41414107;
    background-color: #171a1ae5;
    backdrop-filter: blur(50px);

    .top {
        box-sizing: border-box;
        width: 100%;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        overflow: visible;
        .dateWrapper {
            box-sizing: border-box;
            width: auto; /* 115px */
            height: auto; /* 40px */
            flex-shrink: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 10px;
            overflow: visible;
            .dateStyle {
                width: auto; /* 95px */
                height: auto; /* 20px */
                flex-shrink: 0;
                white-space: pre;
                overflow: visible;
                font-weight: 700;
                font-style: normal;
                font-family: "Poppins", serif;
                color: #ffffff;
                font-size: 16px;
                letter-spacing: 0px;
                line-height: 1.2;
            }
            @media only screen and (max-width: 600px) {
                .dateStyle {
                    font-size: 10px;
                }
            }
        }
        .more {
            box-sizing: border-box;
            flex-shrink: 0;
            width: 44px;
            height: 44px;
            overflow: visible;
        }
    }
    .articleWrapper {
        width: 100%;
        flex: 1;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: visible;
        .content {
            box-sizing: border-box;
            width: 100%;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 0px 20px;
            overflow: hidden;
            .title {
                width: 100%;
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                overflow: visible;
                .titleStyle {
                    width: 100%;
                    flex-shrink: 0;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    word-break: break-word;
                    overflow: hidden;
                    font-weight: 700;
                    font-style: normal;
                    font-family: "Poppins", serif;
                    color: #ffffff;
                    font-size: 1.7em;
                    margin: 0;
                    text-decoration: none;
                }
                @media only screen and (max-width: 600px) {
                    .titleStyle {
                        font-size: 1em;
                    }
                }
                .titleStyle:hover {
                    text-decoration: underline;
                }
                .descStyle {
                    width: 100%;
                    flex-shrink: 0;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    word-break: break-word;
                    overflow: hidden;
                    font-weight: 400;
                    font-style: normal;
                    font-family: "Poppins-Light", serif;
                    color: #ffffff;
                    font-size: 0.9em;
                }
            }
            .author {
                box-sizing: border-box;
                width: auto; /* 94px */
                height: auto; /* 47px */
                flex-shrink: 0;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding: 20px 0px 0px 0px;
                overflow: visible;
                color: #ffffff;
                .authorStyle {
                    font-family: "Poppins", serif;
                    color: #ffffff;
                    margin: 0;
                    font-size: 0.8em;
                }
            }
        }
        .image {
            width: 100%;
            height: 300px;
            flex-shrink: 0;
            overflow: hidden;
            margin-top: 30px;
            .imageCover {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .borderBG {
        width: 95%;
    }
}
